body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 12px 20px;
}
.logo {
  width: 70px;
  height: 70px;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
  list-style: none;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.search {
  margin: 20px 0px;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
}
.res-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 290px;
  background: #f0f0f0;
}
.res-card:hover {
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.res-img {
  width: 270px;
  height: 270px;
  padding: 10px;
}
